#projects {
    background-color: #9ba0bc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#project {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 20px;
}

#project h3 {
    font-family: 'Courier New', Courier, monospace;
}

#project p {
    font-family: 'Courier New', Courier, monospace;
}

#project a {
    text-decoration: none;
    color: black;
}

#project a:hover {
    opacity: 0.6;
    cursor: pointer;
}

#fin {
    width: 350px;
    height: 200px;
}

#orb {
    width: 250px;
    height: 250px;
}

#bee {
    width: 275px;
    height: 275px;
}

#koala {
    width: 300px;
    height: 300px;
}

.break {
    padding-bottom: 50px;
}