#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #7a8b99;
}

#hero h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#hero h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.me {
    width: 300px;
    height: 300px;
}