#label {
    background-color: #91adc2;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#label h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

#label1 {
    background-color: #9ba0bc;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#label1 h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

#label2 {
    background-color: #c1b8c8;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#label2 h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

